<div id="centercontainer">
	<div id="uppercontainer">
		<img class="navigarrow up clickable" src="/img/arrow_up.png" onclick="spin(-1);"/>
		<div id="upperlist" class="recipelist">
			<% if not @upper.nil? %>
				<% @upper.each do |recipe| %>
					<% recipe.each_pair do |k,v| %>
						<div class="recipe" id="recipe_	<%= k %> "><%= v %></div>
					<% end %>
				<% end %>
			<% end %>

		</div>
	</div>
	<div id="bandcontainer" class="secondcolor">
		<img src="/img/roue.png" id="wheel" class="clickable" onclick="luckywheel();"/>
		<div id="highlightcontainer" > 
			<% if not @middle.nil? and  not @middle.empty? %>
				<% @middle.each do |recipe| %>
					<% recipe.each_pair do |k,v| %>
						<div class="recipe" id="recipe_	<%= k %> "><%= v %></div>
					<% end %>
				<% end %>
			<% else %>
				<div class="recipe" id="recipe_null">Aucune recette.</div>
			<% end %>
		</div>	
	</div>
	<div id="homecontainer"></div>
	<div id="lowercontainer">
		<img class="navigarrow down clickable" src="/img/arrow_down.png" onclick="spin(1);"/>
		<div id="lowerlist" class="recipelist">
			<% if not @lower.nil? %>
				<% @lower.each do |recipe| %>
					<% recipe.each_pair do |k,v| %>
						<div class="recipe" id="recipe_	<%= k %> "><%= v %></div>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
</div>
<div id="rightpanel" class="secondcolor">
	<div id="loadingrecipe"><img src="/img/loading.gif" /></div>
	<div id="container">
		<form class="createrecipe">
			<h1>Nouvelle recette</h1>
			<label>Titre :</label><input  class="firstcolor" type="text" name=""/>
			<label>Mots-clés :</label>
			<input id="taglist" type="text" class="firstcolor" name="taglist"/>
			<label>Recette :</label>
			<textarea class="firstcolor" ></textarea>
		</form>
	</div>

</div>

<div id="loginscreen" class=" secondcolor">
	<form action="#" method="post">
		<h1>Connexion</h1>
		<input type="text" class="firstcolor" placeholder="Login"/>
		<input type="password"  class="firstcolor" placeholder="Mot de passe"/>
		<a style="margin-left:25px;text-align:left;font-size:80%;" href="#">Mot de passe oublié ?</a>
		<input type="image" src="/img/connection.png" alt="submit" name="submit" />

		<p>Pas encore inscrit ? <a href='#'>Créez un compte !</a></p>
		
	</form>
</div>
	
<script type="text/javascript">
	var timestamp="<%= timestamp %>";
</script>

